rawdata/fastas/
rawdata/md5sum.txt
rawdata/README.md
rawdata/pfam/
rawdata/metadata/12876_2025_4595_MOESM1_ESM.xlsx

*.nextflow*

analysis/funcscan/work/
analysis/funcscan/results/
analysis/funcscan/pipeline/

analysis/R/RMarkdown/render/
analysis/R/RMarkdown/*cache/

analysis/scripts/results/
