rawdata/fastas/
rawdata/md5sum.txt
rawdata/README.md

*.nextflow*

analysis/funcscan/work/
analysis/funcscan/results/
analysis/funcscan/pipeline/

analysis/R/RMarkdown/render/
analysis/R/RMarkdown/gcf_results_cache