process {
    errorStrategy = 'retry'
    maxRetries    = 2

    resourceLimits = [
        cpus:   6,
        memory: 170.GB
    ]

    withName: 'MULTIQC' { // VERSÃO 1.28: Última empacotada com polars-lts-cpu, que não usa AVX
        container = 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0'
    }
}